<div>
  <h2>Favorite Contacts</h2>
  <table>
    <thead>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
    </thead>
    <tbody>
      @if(favoriteContacts.length === 0) {
      <td class="center" colspan="3">You have no favorite contacts</td>
      } @else if(favoriteContacts.length > 0) { @for(contact of
      favoriteContacts; track contact.id) {
      <tr [routerLink]="['/contacts/edit', contact.id]">
        <td>{{ contact.firstName }} {{ contact.lastName }}</td>
        <td>
          @if(contact.phone){ <span>{{ contact.phone.phoneNumber }}</span
          >}
        </td>
        <td>
          @if(contact.address){
          {{ contact.address.streetAddress }}, {{ contact.address.city }},
          {{ contact.address.state }},
          {{ contact.address.postalCode }}
          }
        </td>
      </tr>
      } }
    </tbody>
  </table>
  <h2>All Contacts</h2>
  <table>
    <thead>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
    </thead>
    <tbody>
      @if(contacts().length === 0) {
      <td class="center" colspan="3">You have no favorite contacts</td>
      } @else if(contacts().length > 0) { @for(contact of contacts(); track
      contact.id) {
      <tr [routerLink]="['/contacts/edit', contact.id]">
        <td>{{ contact.firstName }} {{ contact.lastName }}</td>
        <td>
          @if(contact.phone){ <span>{{ contact.phone.phoneNumber }}</span
          >}
        </td>
        <td>
          @if(contact.address){
          {{ contact.address.streetAddress }}, {{ contact.address.city }},
          {{ contact.address.state }},
          {{ contact.address.postalCode }}
          }
        </td>
      </tr>
      } }
    </tbody>
  </table>
</div>
